@import "../main.css";


.card-container{
    flex-direction: column;
    /* justify-content: space-between; */

    height: 65vh;
    border-radius: 15px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0.4rem 0.3rem 0.4rem rgba(56, 59, 59, 0.3);  
}

.card-image {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
   justify-items: center;
}

.card-info {
    flex-grow:1 ;
    border-bottom: 1px solid black;
    justify-items: flex-start;
    padding:1.6rem;
}

.card-info h3 {

    color: rgb(8, 126, 135);
    font-weight: 400;
    border-bottom: 1px dashed black;
}



button {
    height: 4rem;
    margin: 1.2rem;
    padding: 0 1.8rem;
    justify-items: flex-end;
    align-items: flex-end;
}
