
/* typography */
h1, .h1 {font-size: 3.2rem;
    font-family: "Syncopate", sans-serif; 
    font-weight: bold; 
    line-height: 1.5; }
h2, .h2 {font-size: 2.8rem ;font-family: "Syne", sans-serif; 
    font-weight: bold;}
h3, .h3 {font-size: 2.4rem }
h4, .h4  {font-size: 2rem}
h5, .h5 {font-size: 1.2rem}
h6, .h6 {font-size: 1rem}
p, .p {font-size: 1.6rem }

/* Send footer to bottom */
html, body, #root {
    min-height: 100vh;
    font-family: "Syne", sans-serif;
    font-size: 62.5%; /* 1rem= 10px*/
}

#root {
    display: flex;
    flex-direction: column;
}

/* helpers */
.vertical-center {align-items: center}
.horizontal-end {justify-content: flex-end;}
.text-center {text-align: center;}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.icon-on {
    color: coral;
}

main{
    flex-grow: 1;
}


/* Grid Syste  */

.container {
    max-width: 100vw; /* Maximum width of the website's grid */
    margin: 0 auto;
    padding:0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}



/* footer */

.site-footer {
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(70, 142, 155, 0.3);
}
.site-footer__logo{
    width: 10rem;
 }
 
 .footer-nav ul li {
    font-weight: 500;
    border-bottom: 2px solid black;
 }

 .footer-nav ul {
    display: flex;
    gap: 4rem;
}

 .footer-terms {
    text-align: center;
 }

 .terms-link {
    color:blueviolet;
    text-decoration: underline;

 }

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* MARGINS */
.m-0 { margin: 0px; }
.m-4 { margin: 4px; }
.m-8 { margin: 8px; }
.m-12 { margin: 12px; }
.m-16 { margin: 16px; }
.m-20 { margin: 20px; }
.m-24 { margin: 24px; }

/* m-Top */
.mt-0 { margin-top: 0px; }
.mt-4 { margin-top: 4px; }
.mt-8 { margin-top: 8px; }
.mt-12 { margin-top: 12px; }
.mt-16 { margin-top: 16px; }
.mt-20 { margin-top: 20px; }
.mt-24 { margin-top: 24px; }
/* m-bottom */
.mb-0 { margin-bottom: 0px; }
.mb-4 { margin-bottom: 4px; }
.mb-8 { margin-bottom: 8px; }
.mb-12 { margin-bottom: 12px; }
.mb-16 { margin-bottom: 16px; }
.mb-20 { margin-bottom: 20px; }
.mb-24 { margin-bottom: 24px; }

/* Padding classes */

/* All sides */
.p-0 { padding: 0px; }
.p-4 { padding: 4px; }
.p-8 { padding: 8px; }
.p-12 { padding: 12px; }
.p-16 { padding: 16px; }
.p-20 { padding: 20px; }
.p-24 { padding: 24px; }

/* Top */
.pt-0 { padding-top: 0px; }
.pt-4 { padding-top: 4px; }
.pt-8 { padding-top: 8px; }
.pt-12 { padding-top: 12px; }
.pt-16 { padding-top: 16px; }
.pt-20 { padding-top: 20px; }
.pt-24 { padding-top: 24px; }

/* Right */
.pr-0 { padding-right: 0px; }
.pr-4 { padding-right: 4px; }
.pr-8 { padding-right: 8px; }
.pr-12 { padding-right: 12px; }
.pr-16 { padding-right: 16px; }
.pr-20 { padding-right: 20px; }
.pr-24 { padding-right: 24px; }

/* Bottom */
.pb-0 { padding-bottom: 0px; }
.pb-4 { padding-bottom: 4px; }
.pb-8 { padding-bottom: 8px; }
.pb-12 { padding-bottom: 12px; }
.pb-16 { padding-bottom: 16px; }
.pb-20 { padding-bottom: 20px; }
.pb-24 { padding-bottom: 24px; }

/* Left */
.pl-0 { padding-left: 0px; }
.pl-4 { padding-left: 4px; }
.pl-8 { padding-left: 8px; }
.pl-12 { padding-left: 12px; }
.pl-16 { padding-left: 16px; }
.pl-20 { padding-left: 20px; }
.pl-24 { padding-left: 24px; }

/* X-axis (left and right) */
.px-0 { padding-left: 0px; padding-right: 0px; }
.px-4 { padding-left: 4px; padding-right: 4px; }
.px-8 { padding-left: 8px; padding-right: 8px; }
.px-12 { padding-left: 12px; padding-right: 12px; }
.px-16 { padding-left: 16px; padding-right: 16px; }
.px-20 { padding-left: 20px; padding-right: 20px; }
.px-24 { padding-left: 24px; padding-right: 24px; }

/* Y-axis (top and bottom) */
.py-0 { padding-top: 0px; padding-bottom: 0px; }
.py-4 { padding-top: 4px; padding-bottom: 4px; }
.py-8 { padding-top: 8px; padding-bottom: 8px; }
.py-12 { padding-top: 12px; padding-bottom: 12px; }
.py-16 { padding-top: 16px; padding-bottom: 16px; }
.py-20 { padding-top: 20px; padding-bottom: 20px; }
.py-24 { padding-top: 24px; padding-bottom: 24px; }


@media screen and (min-width: 568px) {
    
    .col-1-sm { grid-column: span 1; }
    .col-2-sm { grid-column: span 2; }
    .col-3-sm { grid-column: span 3; }
    .col-4-sm { grid-column: span 4; }
    .col-5-sm { grid-column: span 5; }
    .col-6-sm { grid-column: span 6; }
    .col-7-sm { grid-column: span 7; }
    .col-8-sm { grid-column: span 8; }
    .col-9-sm { grid-column: span 9; }
    .col-10-sm { grid-column: span 10; }
    .col-11-sm { grid-column: span 11; }
    .col-12-sm { grid-column: span 12; }

}

@media screen and (min-width: 834px) {
    
    .col-1-md { grid-column: span 1; }
    .col-2-md { grid-column: span 2; }
    .col-3-md { grid-column: span 3; }
    .col-4-md { grid-column: span 4; }
    .col-5-md { grid-column: span 5; }
    .col-6-md { grid-column: span 6; }
    .col-7-md { grid-column: span 7; }
    .col-8-md { grid-column: span 8; }
    .col-9-md { grid-column: span 9; }
    .col-10-md { grid-column: span 10; }
    .col-11-md { grid-column: span 11; }
    .col-12-md { grid-column: span 12; }

}

@media screen and (min-width: 1080px) {
    
    .col-1-lg { grid-column: span 1; }
    .col-2-lg { grid-column: span 2; }
    .col-3-lg { grid-column: span 3; }
    .col-4-lg { grid-column: span 4; }
    .col-5-lg { grid-column: span 5; }
    .col-6-lg { grid-column: span 6; }
    .col-7-lg { grid-column: span 7; }
    .col-8-lg { grid-column: span 8; }
    .col-9-lg { grid-column: span 9; }
    .col-10-lg { grid-column: span 10; }
    .col-11-lg { grid-column: span 11; }
    .col-12-lg { grid-column: span 12; }

}

